/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'Conv_Gotham-Black';
    src: url('../fonts/Gotham-Black.eot');
    src: local('☺'), url('../fonts/Gotham-Black.woff') format('woff'), url('../fonts/Gotham-Black.ttf') format('truetype'), url('../fonts/Gotham-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Gotham-Bold';
    src: url('../fonts/Gotham-Bold.eot');
    src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Gotham-Medium';
    src: url('../fonts/Gotham-Medium.eot');
    src: local('☺'), url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf') format('truetype'), url('../fonts/Gotham-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/original_Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/original_Gotham-Book.woff') format('woff'), url('../fonts/original_Gotham-Book.ttf') format('truetype'), url('../fonts/original_Gotham-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gotham-Book';
}

.container {
    width: 610px;
    margin: 0 auto;
    padding-bottom: 75px;
    padding-left: 116px;
    padding-right: 116px;
}

.container:after {
    content: '';
    clear: both;
    display: block;
}

.logoCodice {
    width: 209px;
    height: 50px;
    margin: 328px auto 228px;
}

.bloqueLeft {
    float: left;
    width: 50%;
    font-size: 10px;
}

.bloqueLeft a {
    color: #f48c31;
    font-weight: bold;
}

.bloqueRight {
    float: right;
    width: 50%;
    margin-top: 22px;
}

.logoGoogle {
    float: right;
    margin-right: 20px;
}

.logoPartner {
    float: right;
    margin-top: 24px;
}

.logoTop {
    float: right;
}

.clearfix {
    clear: both;
}

.contenedor h2 {
    font-size: 16px;
    font-family: 'Conv_Gotham-Medium';
    color: #f48c31;
    margin: 72px 0 0;
    padding: 0;
}

.contenedor span {
    font-size: 12px;
    font-family: 'Conv_Gotham-Medium';
    display: block;
}

.contenedor .fecha {
    font-size: 11px;
    color: #7f7f7f;
    font-family: 'Conv_Gotham-black';
    margin-top: 15px;
    margin-bottom: 45px;
}

.contenedor p {
    font-size: 11px;
    font-family: 'Gotham-Book';
    text-align: justify;
    color: #7e7e7e;
}

.contenedor ul {
    padding: 0 0 0 40px;
    margin: 0;
}

.contenedor li {
    font-size: 11px;
    font-family: 'Gotham-Book';
    text-align: justify;
    color: #7e7e7e;
}

.contenedor table {
    width: 100%;
    margin: 40px 0 100px;
}

.contenedor table th {
    background: #7f7f7f;
    color: #fff;
    font-size: 11px;
    padding: 5px 0;
}

.contenedor table th:first-child {
    text-align: left;
    padding: 0 20px;
}

.contenedor table td {
    padding: 5px 20px;
    font-size: 11px;
    font-family: 'Gotham-Book';
    color: #7e7e7e;
}

.contenedor table td:last-child {
    text-align: center;
}

.contenedor table tr:nth-of-type(2n+1) {
    background: #efefef;
}

.atencion {
    margin: 30px 0;
}

.atencion p {
    font-size: 11px;
    font-family: 'Gotham-Book';
    color: #7e7e7e;
}

.atencion p.txt {
    color: #f48c31;
    font-size: 14px;
    font-family: 'Conv_Gotham-Medium';
    padding: 0;
    margin: 0;
}

.atencion span {
    color: #000;
    margin-bottom: 20px;
}

.atencion span.txt {
    color: #7e7e7e;
    font-family: 'Gotham-Book';
    font-size: 11px;
}

.bottom {
    float: right;
}

.bottom span {
    color: #7e7e7e;
    font-family: 'Gotham-Book';
    font-size: 9px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}